<section class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-center">
                    <div class="card-header">
                        {{'HOMEPAGE.cardHeaderText' | translate}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{'HOMEPAGE.cardBodyText' | translate}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
