@import "src/styles/variables";

.header {
    padding: $base-size * 0.5 0;
    background: $primary-color;
    display: flex;
    align-items: center;
    margin-bottom: $base-size * 2;
}

.navbar {
    padding-left: 0;
    padding-right: 0;

    .navbar-brand {
        display: flex;
        align-items: center;

        .icon {
            margin-right: $base-size * 0.5;
        }

        .brand-title {
            @extend %title-font;
            font-size: $base-size;
            margin-bottom: 0;
        }
    }

    .nav-link {
        @extend %regular-font;
    }
}


