<section class="section">
    <div class="container">
        <div class="row title-row">
            <div class="col">
                <h2 class="title">
                    {{'FORM.title' | translate}}
                </h2>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <form class="card-body">

                        <!-- nameControl -->
                        <div class="row form-row mb-md-4 mb-sm-3">
                            <div class="col-md-2 form-col d-flex align-items-center">
                                <label for="nameControl" class="card-title">
                                    {{'FORM.nameControlLabel' | translate}}
                                </label>
                            </div>
                            <div class="col-md-4 form-col">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="nameControl"
                                           [placeholder]="'FORM.nameControlPlaceholder' | translate" [formControl]="nameControl">
                                </div>
                            </div>
                            <div class="col-md-6 form-col h-auto d-flex align-items-center"
                                 *ngIf="nameControl.dirty && nameControl.errors">
                                <small class="text-danger">
                                    {{getNameControlErrorMessage()}}
                                </small>
                            </div>
                        </div>

                        <!-- surnameControl -->
                        <div class="row form-row  mb-md-4 mb-sm-3">
                            <div class="col-md-2 form-col d-flex align-items-center">
                                <label for="surnameControl" class="card-title">
                                    {{'FORM.surnameControlLabel' | translate}}
                                </label>
                            </div>
                            <div class="col-md-4 form-col">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="surnameControl"
                                           [placeholder]="'FORM.surnameControlPlaceholder' | translate"
                                           [formControl]="surnameControl">
                                </div>
                            </div>
                            <div class="col-md-6 form-col h-auto d-flex align-items-center"
                                 *ngIf="surnameControl.dirty && surnameControl.errors">
                                <small class="text-danger">
                                    {{getSurnameControlErrorMessage()}}
                                </small>
                            </div>
                        </div>

                        <!-- ageControl -->
                        <div class="row form-row mb-md-2">
                            <div class="col-md-2 form-col d-flex align-items-center">
                                <label for="nameControl" class="card-title">
                                    {{'FORM.ageControlLabel' | translate}}
                                </label>
                            </div>
                            <div class="col-md-4 form-col">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="ageControl"
                                           [placeholder]="'FORM.ageControlPlaceholder' | translate" [formControl]="ageControl">
                                </div>
                            </div>
                            <div class="col-md-6 form-col h-auto d-flex align-items-center"
                                 *ngIf="ageControl.dirty && ageControl.errors">
                                <small class="text-danger">
                                    {{getAgeControlErrorMessage()}}
                                </small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- hello stripe -->
        <div class="row mb-4" *ngIf="isHelloStripeVisible()">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <span class="hello-text">
                            {{'FORM.helloText' | translate}} {{this.nameControl.value}} {{this.surnameControl.value}} !
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- button -->
        <div class="row buttons-row">
            <div class="col">
                <button class="btn btn-primary" (click)="didSaveButtonClick()">
                    {{'FORM.saveButton' | translate}}
                </button>
            </div>
        </div>
    </div>
</section>
